app = "print-queue-api"
primary_region = "ams"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1

[env]
  BACKEND_URL = "https://print-queue-api.fly.dev"
  FRONTEND_URL = "https://print-queue.fly.dev"
